In [2]:
#Import dependencies
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files
df=pd.read_csv('micro_world_139countries.csv', encoding='ISO-8859-1')

In [ ]:
#The data comsists of 143k rows and 128 columns
df.shape

Data starts with Afganistan and goes till Zimbabwe

In [6]:
# preview the dataset
df.head()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig,year
0,Afghanistan,AFG,South Asia,22647496.0,144274031,0.716416,2,43.0,2,4,...,4,4,4.0,1,5.0,1,2,1,0.0,2021
1,Afghanistan,AFG,South Asia,22647496.0,180724554,0.497408,2,55.0,1,3,...,4,4,2.0,4,5.0,1,2,0,0.0,2021
2,Afghanistan,AFG,South Asia,22647496.0,130686682,0.650431,1,15.0,1,2,...,4,4,4.0,4,3.0,2,2,0,0.0,2021
3,Afghanistan,AFG,South Asia,22647496.0,142646649,0.991862,2,23.0,1,4,...,4,4,2.0,4,5.0,1,2,0,0.0,2021
4,Afghanistan,AFG,South Asia,22647496.0,199055310,0.554940,1,46.0,1,1,...,4,4,4.0,4,5.0,2,2,0,0.0,2021

In [7]:
# preview the dataset
df.tail()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig,year
143882,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,142158626,1.327724,2,22.0,2,5,...,4,4,4.0,4,5.0,1,1,0,0.0,2021
143883,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,166233385,0.271210,1,52.0,2,5,...,1,4,4.0,4,5.0,1,2,1,1.0,2021
143884,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,127205071,0.337621,1,47.0,1,1,...,4,4,4.0,4,5.0,1,2,0,0.0,2021
143885,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,201016006,2.153500,2,18.0,1,3,...,4,4,4.0,4,4.0,2,2,1,1.0,2021
143886,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,204293669,0.271210,1,74.0,3,2,...,4,1,4.0,4,1.0,1,2,1,1.0,2021